@{
    ViewBag.Title = "About";
    Layout = "~/Views/_MainLayout.cshtml";
}

@section tabs{
     <div id="menu">
		<ul>
			<li><a href="/Customer/Index">Home</a></li>
            <li><a href="/Customer/ViewCart">ViewCart</a></li>
            <li><a href="/Customer/CheckOut">CheckOut</a></li>
			<li><a href="/Customer/About">About Us</a></li>
			<li><a href="/Customer/Contact">Contact Us</a></li>
            <li><a href="/Customer/Gallery">Gallery</a></li>
            <li><a href="/Account/LogOut">LogOut</a></li>

		</ul>
	</div>
 }

<div id="contents" style="float: left;width: 79%; height:500px;">
                
<!--Abbout us page-->
<img src="/Images/aboutUs.jpg" alt="About us" height="120px" width="150px"/> 
<br>
 <p style="font-family: Verdana;margin-left: 150px;font-size: 20px"> <span style="color: green;font-family: 'Comic Sans MS';font-size: 25px">CreAtiVe Gift Shope</span>is a best way to discover the new things around you.. To find out the rates and to buy things on resonable price. </p>
<p style="font-size: 20px; margin-left: 50px ">You donot have to spend time for going on a 
 shop and putting your effort. Our motive "Save time, Have more". You can
 find here almost everything on low cost as compare to the market rates.
 Alot of variety is present here. Try our things. </p>

          </div>    
          </div>  
